body {
    margin-top: 70px;
}

.form-row {
    margin-top: 10px;
}

.large {
    font-size: 36px;
}

.duration {
    font-size: 18px;
}

[vcloak] > * { 
    display: none; 
}

/* Dynamic slider images */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0;
    background: url('images/watermelon.png');
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 0;
    background: url('images/watermelon.png');
    cursor: pointer;
}